/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: #e5e5e5;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  display: inline-block;
}

/* base styles */
body {
  background-color: #212121;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.logo-img img {
  height: auto;
  width: auto;
  max-width: 58px;
  max-height: 50px;
}
.notes {
  background-color: #45493b;
}
.welcome-img {
  width: 100%;
  height: auto;
  position: relative;
}
#learn-more-btn a {
  background: none;
  color: #afc67b;
  padding: 6px 12px;
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  color: #afc67b;
  background-color: rgb(136, 165, 71, 0.3);
}

#learn-more-btn a:hover {
  background-color: rgb(136, 165, 71, 0.7);
}

.brush {
  height: 30px;
  width: 30px;
}

.new-dish-text {
  background-color: #e5e5e5;
  padding: 4vh 0vh;
}

/* fonts */
@font-face {
  font-family: "GoodDog";
  src: url("../Fonts/GoodDog/GOODDC__.TTF");
}

h1,
h3,
h5 {
  color: #9baf6d;
}

h2 {
  color: #ffffff;
}

h4,
h6,
p {
  color: #e5e5e5;
}

h1,
h2 {
  font-family: Montserrat;
  font-size: 1.5em;
}

h3,
h4,
h5,
h6 {
  font-family: GoodDog;
}

h3,
h4 {
  font-size: 1.5em;
}

h5,
h6 {
  font-size: 1.5em;
}

/* mobile styles */

/* Welcome Page*/

.img-contents {
  padding-top: 1vh;
  text-align: justify;
  position: absolute;
  top: 2vh;
  left: 41vw;
}

.img-contents * {
  padding-top: 1vh;
}

.site-nav ul {
  display: none;
}

.img-contents {
  align-self: center;
  justify-self: center;
}

.welcome-parts img {
  display: none;
}

.text-cook {
  padding: 30px 30px;
  text-align: justify;
  align-self: center;
}

.actually-cook h3 {
  padding-bottom: 20px;
}

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  justify-items: center;
  text-justify: left;
  gap: 5px;
  padding: 30px 15px;
}

.brush,
.note h4,
.note p {
  padding-top: 15px;
}

/* Menu Page */

#menu {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  padding: 20px 0px;
}

.menu-container {
  padding: 5vh 0vh;
  text-align: center;
  width: 100%;
  background-color: #45493b;
  margin: 0 auto;
  max-width: 1080px;
}

.menu-grid {
  padding: 4vh 0vh;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: 0 auto;
}

.grid-item {
  align-self: center;
  justify-self: center;
  object-fit: cover;
}

.menu-footer h3,
.menu-footer p {
  padding: 2vh 2vh;
}

/* Discover Page */

.discover {
  background-image: url(../images/discover.jpg);
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  padding: 20vh 0px;
}

.discover-container {
  margin: auto 0;
  background-color: #45493b;
  padding: 5vh;
  text-align: center;
}

.discover-menu {
  display: grid;
  padding: 5vh 0vh;
  align-content: center;
  justify-items: center;
}

.discover-text h4 {
  font-size: 4rem;
}

.ellipse {
  display: flex;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  display: inline-block;
  padding: 10px;
  width: 80px;
  height: 50px;
  margin-top: 1em;
  background-color: #e5e5e5;
}

.form-grid {
  display: grid;
  padding: 20px 0px;
  text-align: center;
}

.header {
  font-size: 3rem;
  text-align: center;
}

.header h1 {
  color: white;
  padding-bottom: 0.5em;
}

.form-grid label {
  display: block;
  font-size: 1.5em;
  color: white;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 0;
}

.form-grid input,
select {
  background: transparent;
  border-color: white;
  border-radius: 0.5em;
  height: 1.5rem;
  width: 50%;
  color: white;
}

select {
  background-color: #212121;
}

.option {
  color: #ffffff;
  background-color: #212121;
}

.item-submit {
  margin-top: 3em;
  height: 2rem;
  width: 100%;
}

.book-img {
  width: 100%;
  height: auto;
}

.discover-new-menu {
  text-align: center;
  width: 100%;
  background-color: #45493b;
  padding: 8vh 0vh;
}

.new-menu-heading {
  padding-bottom: 4vh;
}

.new-menu-heading h3 {
  font-size: 3.5rem;
}

.new-dish-img img {
  width: 100%;
}

.new-menu-contents {
  display: grid;
  margin: 0 auto;
  padding: 0px 20vw;
}

.new-dish-text {
  text-align: left;
  padding: 0vh 2vw;
}

.new-dish-text h3,
.new-dish-text h4 {
  font-size: 1em;
  font-family: montserrat;
  color: #212121;
  padding: 1vh 0vh;
  font-weight: bold;
}

.new-dish-text p {
  font-size: 1rem;
  color: #212121;
}

.new-dish-text a {
  display: block;
  color: #212121;
  padding: 2vh 0vh;
  text-decoration: underline;
  text-decoration-color: #afc67b;
  font-size: 1.2rem;
  font-style: bold;
}

/* Contact Page */

.developer-info {
  text-align: center;
  background-color: #212121;
}

.some-words {
  width: 80%;
  margin: 0px auto;
}

.some-words p {
  font-size: 1.2rem;
}

.some-words h3 {
  padding: 2vh 0vh;
  font-size: 2.5rem;
}

.logos-links {
  padding: 4vh 0vh;
}

.social-logo {
  height: 40px;
  width: 40px;
  padding: 0vh 1vw;
}

.about {
  background-color: #33362f;
  display: grid;
  grid-template-columns: 3fr 3fr;
  text-align: center;
  padding: 4vh 4vw;
}

.about h1 {
  font-weight: bold;
  padding-bottom: 4vh;
}

.about h2 {
  padding-bottom: 1vh;
}

.about h1,
.about h2 {
  font-size: 1.5rem;
  color: #ffffff;
}

.about p {
  text-align: justify;
}

.item-1 {
  grid-column: 1/2;
}

.item-3,
.item-4 {
  display: none;
}

/* small tablets styles */

@media only screen and (min-width: 620px) {
  /* Fonts */
  h1,
  h2 {
    font-size: 2.5em;
  }
  h3,
  h4 {
    font-size: 3em;
  }
  h5,
  h6 {
    font-size: 2.5em;
  }
  /* Welcome Page */
  .site-nav ul {
    display: block;
    width: 100%;
  }
  .site-nav li {
    display: inline;
    font-size: 1.5em;
    padding: 5px;
  }
  .site-nav a {
    color: #99aa72;
    size: 30px;
  }
  .logo-img img {
    height: auto;
    width: auto;
    max-width: 116px;
    max-height: 100px;
  }
  .img-contents {
    padding-top: 0vh;
    text-align: justify;
    position: absolute;
    top: 0vh;
    left: 55vw;
  }
  .img-contents * {
    padding-top: 2vh;
  }
  .actually-cook {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .welcome-parts img {
    display: inline-block;
    justify-self: right;
  }
  /* Menu Page */
  .grid {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
  .menu-container {
    width: 80%;
  }
  /* Discover Page */
  .discover-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10vh 10vw;
    gap: 5vw;
    align-content: center;
    justify-items: center;
  }
  .form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 20px 0px;
    text-align: center;
  }
  .item-submit {
    grid-area: 3/2/4/3;
  }
  .new-menu-contents {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    justify-content: center;
    gap: 5vw;
  }
  .item-3,
  .item-4 {
    display: inline;
  }
}

/* large tablets & laptops styles */

@media only screen and(min-width:1024px) {
  /* Welcome Page */
  .site-nav ul {
    display: block;
    width: 100%;
    background-color: #33362f;
  }
  .site-nav li {
    display: inline;
    font-size: 10rem;
    padding: 5px;
  }
  .site-nav a {
    size: 30px;
  }
}

/* desktops styles */

@media only screen and(min-width:1200px) {
}
